.shop{
    margin-top: 2.7rem;
    h1{
        text-align: center;
        font-size: 2.3rem;
        height: 2.75rem;
    }
}

.w-full{
     
    height: 16rem;
    width: 20rem;
    text-align: center;
    // margin-left: 2rem;
  
  
    

   
}

.max-w-sm{
    margin-top: 2.2rem;
}

.button{
    border: 2px solid black;
    padding: 0.3rem;
    background-color:black ;
    color: white;
    border-radius: 0.3rem;
    box-shadow: 0.1rem 0.1rem 0.6rem 0rem black;
}


#title{
    overflow-x: auto;
}







